<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   <head th:replace = "fragments :: head">
   </head>
   <body>
        <!-- HEADER -->
         <div class="header" th:replace = "fragments :: header">
         </div>
         <!-- END HEADER -->
        
         <!-- Main -->
         <div class="main">
            <div class="container">
               <div class="row">
                     <div class="breadcrumb clearfix">
                        <ul>
                           <li itemtype="http://shema.org/Breadcrumb" itemscope="" class="home">
                              <a title="Đến trang chủ" href="/" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                           </li>
                           <li class="icon-li"><strong>Thanh toán</strong> </li>
                        </ul>
                     </div>
                  <div class="col-md-12">
                     <div class="col-md-8 col-sm-12 col-xs-12 payment-step step2">
                        <form method="get" th:object="${customer}" th:action="@{/save-order}">
                           <h4  style="margin-top: 0;padding: 10px;background-color: #0f9ed8;font-size: 14px;text-transform: uppercase;color: #ffffff;margin-bottom: 20px;">Thông tin giao nhận hàng</h4>
                           <div class="step-preview clearfix">
                              <div class="form-block form-group">
                                 <div class="form-group">
                                 	<label>Họ và tên:</label>
                                    <input class="form-control " placeholder="Nhập Họ tên" readonly="readonly" type="text" th:field = "*{name}">
                                 </div>
                                 <div class="form-group">
                                 	<label>Địa chỉ:</label>
                                    <input class="form-control " placeholder="Nhập địa chỉ" type="text"  name="address">
                                 </div>
                                 <div class="form-group">
                                    <label>Điện thoại:</label>
                                    <input class="form-control " placeholder="Nhập số điện thoại" type="tel" name="phone">
                                 </div>
                              </div>
                           </div>
                           <div class="button-submit">
                              <button class="btn btn-primary" id="addnew" name="addnew" type="submit">Xác nhận đặt hàng</button>
                           </div>
                        </form>
                     </div>
                     <div class="col-md-4 col-sm-12 col-xs-12 payment-step step1">
                        <h4  style="margin-top: 0;padding: 10px;background-color: #0f9ed8;font-size: 14px;text-transform: uppercase;color: #ffffff;margin-bottom: 20px;">Thông tin đơn hàng</h4>
                        <div class="step-preview">
                           <div class="cart-info">
                              <div class="cart-items">
                              </div>
                              <div class="total-price" style=" font-weight: 600;
                                 padding: 10px 0;
                                 border-bottom: 1px solid #eaeaea;">
                                 Thành tiền  <label class="ng-binding" style="float: right;"> <span th:text="${#numbers.formatDecimal(cart.totalPrice,3,'POINT',0,'COMMA')}"></span>₫</label>
                              </div>
                              <div class="shiping-price" style=" font-weight: 600;
                                 padding: 10px 0;
                                 border-bottom: 1px solid #eaeaea;">
                                 Phí vận chuyển  <label class="ng-binding" style="float: right;">0₫</label>
                              </div>
                              <div class="total-payment" style="font-weight: 600;color:red;font-size:20px;
                                 padding: 10px 0;
                                 border-bottom: 1px solid #eaeaea;">
                                 THANH TOÁN <span class="ng-binding" style="float: right;"> <span th:text="${#numbers.formatDecimal(cart.totalPrice,3,'POINT',0,'COMMA')}"></span>₫</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>   
         <!--End Main  -->
         
         <!-- ADV -->
         <div class="adv" th:replace = "fragments :: adv">           
         </div>
         <!-- END ADV -->
         <!-- FOOTER -->
         <div class="footer" th:replace = "fragments :: footer">          
         </div>
         <!-- END FOOTER -->
      <!-- Loader -->
      <div style="display: none;" id="loading-mask" th:replace = "fragments :: loader">
      </div>
      <!-- End loader -->
      <a href="javascript:void(0);" class="back-to-top"><span>Top</span></a>
   </body>  
   <script type="text/javascript">
    $(".header-content").css({ "background": '' });
    $("html").addClass('');
    $(".menu-quick-select ul").hide();
    $(".menu-quick-select").hover(function () { $(".menu-quick-select ul").show(); }, function () { $(".menu-quick-select ul").hide(); });
 </script>
</html>
