<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   <head th:replace = "fragments :: head">
   </head>
   <body>
      <div class="loader_overlay"></div>
      <div id="opacity" class=""></div>
      <div id="fb-root"></div>
      <div class="wrapper">
        <!-- HEADER -->
         <div class="header" th:replace = "fragments :: header">
         </div>
         <!-- END HEADER -->
        
         <!-- Main -->
         <div class="main">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
             
                     <div class="menu-account" th:replace = "fragments :: account">
                     </div>
                  </div>
                  <div class="col-md-9">
                     <div class="breadcrumb clearfix">
                        <ul>
                           <li itemtype="http://shema.org/Breadcrumb" itemscope="" class="home">
                              <a title="Đến trang chủ" href="index.html" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                           </li>
                           <li class="icon-li"><strong>Quên mật khẩu</strong> </li>
                        </ul>
                     </div>
                     <script type="text/javascript">
                        $(".link-site-more").hover(function () { $(this).find(".s-c-n").show(); }, function () { $(this).find(".s-c-n").hide(); });
                     </script>
                     <div class="login-content clearfix" >
                        <h1 class="title"><span>Quên mật khẩu</span></h1>
                        <div th:if = "${success}" class="alert alert-success fade in">
                           <button data-dismiss="alert" class="close"></button>
                           <i class="fa-fw fa fa-times"></i>
                           <span>[[${success}]]</span>
                        </div>
                        <div th:if = "${error}" class="alert alert-danger fade in">
                           <button data-dismiss="alert" class="close"></button>
                           <i class="fa-fw fa fa-times"></i>
                           <span>[[${error}]]</span>
                        </div>
						<script>
							window.setTimeout(function() {
							    $(".alert").fadeTo(1000, 0).slideUp(500, function(){
							        $(this).remove(); 
							    });
							}, 10000);
						</script>
						 <div class="">
                           <i class="fa-fw fa fa-times"></i>
                           <span>Nhập email để xác nhận việc reset mật khẩu</span>
                        </div>
                        <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0">
                           <form class="form-horizontal" method="post" th:action="@{/forgot}">
                              <div class="form-group">
                                 <label for="Email" class="col-sm-4 control-label">Email</label>
                                 <div class="col-sm-8">
                                    <input type="email" class="form-control" id="username" name="username"/>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="col-sm-offset-4 col-sm-8">
                                    <button type="submit" class="btn btn-primary">Gửi</button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div> 
         <!--End Main  -->
         
         <!-- ADV -->
         <div class="adv" th:replace = "fragments :: adv">
         </div>
         <!-- END ADV -->
         <!-- FOOTER -->
         <div class="footer" th:replace = "fragments :: footer">
         </div>
         <!-- END FOOTER -->
      </div>
      <!-- Loader -->
      <div style="display: none;" id="loading-mask" th:replace = "fragments :: loader">
      </div>
      <!-- End loader -->
      <a href="javascript:void(0);" class="back-to-top"><span>Top</span></a>
   </body>  
   <script type="text/javascript">
    $(".header-content").css({ "background": '' });
    $("html").addClass('');
    $(".menu-quick-select ul").hide();
    $(".menu-quick-select").hover(function () { $(".menu-quick-select ul").show(); }, function () { $(".menu-quick-select ul").hide(); });
 </script>
</html>
