<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   <head th:replace = "fragments :: head">
   </head>
   <body>
        <!-- HEADER -->
         <div class="header" th:replace = "fragments :: header">
         </div>
         <!-- END HEADER -->
        
         <!-- Main -->
         <div id="collection">
            <div class="main">
               <div class="container">
                  <div class="row">
                     <div class="col-md-9">
                        <div class="breadcrumb clearfix" th:replace = "fragments :: breadcrumb">
                        </div>
                        <div class="product-content">
                           <h1 title="products" class="page_heading ">
                              [[${category.name}]]
                           </h1>
                           <div class="sortPagibar m-b-15 clearfix">
                           	 <div class="pull-left">
                           	 	<p></p>
                           	 </div>
                              <div class="pull-right">
                                 <div class="browse-tags">
                                    <span class="sort-view">Sắp xếp:</span>
                                    <span class="custom-dropdown custom-dropdown--white">
                                       <select class="selectProductSort sort-by custom-dropdown__select custom-dropdown__select--white" id="lbsort" onchange="window.location.href = this.options[this.selectedIndex].value">
                                          <option selected="selected" value="?sort=index&amp;order=asc">Mặc định</option>
                                          <option value="http://localhost:8020/product/high-price">Gi&#225; giảm dần</option>
                                          <option value="http://localhost:8020/product/low-price">Gi&#225; tăng dần</option>
                                       </select>
                                    </span>
                                 </div>
                              </div>
                           </div>
                           <div class="product_list grid clearfix">
                              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 product-wrapper zoomIn wow" th:each="product : ${products}">
                                 <div class="product-block product-resize m-b-20">
                                    <div class="product-image image-resize">
                                       <a th:href="@{/product/{id}(id = ${product.id})}">
                                       <img class="first-img" th:src="@{'data:image/jpeg;base64,' + ${product.image}}">
                                       </a>
                                       <div class="product-actions hidden-xs">
                                          <div class="btn-add-to-cart">
                                             <a th:href="@{/add-to-cart/{id}(id=${product.id})}"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                                          </div>
                                          <div class="btn_quickview">
                                             <a class="quickview" href=""><i class="fa fa-eye"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="product-info text-center m-t-xxs-20">
                                       <h3 class="pro-name">
                                          <a th:href="@{/product/{id}(id = ${product.id})} " th:text="${product.name}"></a>
                                       </h3>
                                       <div class="pro-prices">
                                         <span class="pro-price" th:text="${#numbers.formatDecimal(product.price,3,'POINT',0,'COMMA')}+'&nbsp;₫'"></span>
                                       </div>
                                    </div>
                                 </div>
                              </div>

                              <div class="icon-loading" style="display: none;">
                                 <div class="uil-ring-css">
                                    <div></div>
                                 </div>
                              </div>
                           </div>
                           <div class="paginate">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="pagination">
                                 <div class="row">
                                    <a class="next page_node" href="san-pham2679.html?page=1">
                                    <i class="fa fa-angle-left"></i>
                                    </a>
                                    <span class="page_node  current">1</span>
                                    <a class="page_node" href="san-pham4658.html?page=2">2</a>
                                    <a class="next page_node" href="san-pham4658.html?page=2">
                                    <i class="fa fa-angle-right"></i>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="box-sale-policy ng-scope">
                            <h3><span>Chính sách bán hàng</span></h3>
                            <div class="sale-policy-block">
                                <ul>
                                    <li>Giao hàng TOÀN QUỐC</li>
                                    <li>Thanh toán khi nhận hàng</li>
                                    <li>Đổi trả trong <span>15 ngày</span></li>
                                    <li>Hoàn ngay tiền mặt</li>
                                    <li>Chất lượng đảm bảo</li>
                                    <li>Miễn phí vận chuyển:<span>Đơn hàng từ 3 món trở lên</span></li>
                                </ul>
                            </div>
                            <div class="buy-guide">
                                <h3>Hướng Dẫn Mua Hàng</h3>
                                <ul>
                                    <li>
                                        Mua hàng trực tiếp tại website
                                        <b class="ng-binding"> http://www.nhasachyduochue.vn</b>
                                    </li>
                                    <li>
                                        Gọi điện thoại <strong class="ng-binding">
                                            077 2455 xxx
                                        </strong> để mua hàng
                                    </li>
                                    <li>
                                        Mua tại Trung tâm CSKH:<br>
                                        <strong class="ng-binding">Ở đâu còn lâu mới nói</strong>
                                        <a href="/ban-do.html" rel="nofollow" target="_blank">Xem Bản Đồ</a>
                                    </li>
                                    <li>
                                        Mua sỉ/buôn xin gọi <strong class="ng-binding">
                                            0908 xx xx xx
                                        </strong> để được
                                        hỗ trợ.
                                    </li>
                                </ul>
                            </div>
                        </div>  
                    </div>
                     </div>
                  </div>
               </div>
            </div>  
         <!--End Main  -->
         
         <!-- ADV -->
         <div class="adv" th:replace = "fragments :: adv">
         </div>
         <!-- END ADV -->
         
         <!-- FOOTER -->
         <div class="footer" th:replace = "fragments :: footer">
         </div>
         <!-- END FOOTER -->

      <!-- Loader -->
      <div style="display: none;" id="loading-mask" th:replace = "fragments :: loader">
      </div>
      <!-- End loader -->
      <a href="javascript:void(0);" class="back-to-top"><span>Top</span></a>
   </body>  
   <script type="text/javascript">
    $(".header-content").css({ "background": '' });
    $("html").addClass('');
    $(".menu-quick-select ul").hide();
    $(".menu-quick-select").hover(function () { $(".menu-quick-select ul").show(); }, function () { $(".menu-quick-select ul").hide(); });
 </script>
</html>
